@model IEnumerable<ApplicationUser>
@{
    ViewBag.Title = "Index";
}

<h2>Roles Listing </h2>

@Html.ActionLink("Create New Role", "Create") | @Html.ActionLink("Manage User Role", "ManageUserRoles")
<hr />
<div>
    @foreach (var user in Model)
    {
        <p>
            <strong>@user.UserName | </strong>
        </p>
        <strong>
            Roles
        </strong>
        foreach (var role in user.Roles)
        {
            <p>
                <strong>@role | </strong>
            </p>
        }
    }
</div>