@{
    ViewBag.Title = "SGS - Minecraft";
}
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <style type="text/css">
        div#screen p, div#consoleContent, ul {
            margin: 0;
        }
        #consoleContent{
            text-align:left;
            overflow-y:scroll;
            height: 500px;
            border-top: solid;
            border-right: solid;
            border-left: solid;
            background-color:black;
            color: darkgrey;
        }
        #bottomline{
            text-align:left;
            border-top: solid;
            border-bottom: solid;
            border-right: solid;
            border-left: solid;
            background-color:black;
            color: darkgrey;
        }
    </style>
</head>
<div>
    <center>
        <h1>Simplified Gaming Solutions</h1>
        <div class="jumbotron" id="serverInfo">
            <p><b>Name:</b> n/a</p>
            <p><b>Address:</b> simplifiedgamingsolutions.com</p>
            <p><b>Status:</b> <font color="red"> Offline </font></p>
            <p><b>Players:</b> n/a</p>
        </div>
        <h1>Server Console</h1>
        <div id="screen">
            <div id="consoleContent">
            </div>
            <div id="bottomline">
                <span id="inputline"><b>cmd></b></span><span id="lcommand"></span><span id="cursor">&nbsp;</span><span id="rcommand"></span></span><span id="spinner"></span>
            </div>
        </div>
        <p>
            <a class="btn btn-default" id="start">Start Server</a>
            <a class="btn btn-default" id="stop">Stop Server</a>
        </p>
        <img align="middle" title="" src="~/images/SideImage.jpg" style="width:100%;height:100%;border-radius:2%" border="0" />
    </center>
</div>

<font color="white">
    <div class="row">
        <div class="col-md-4">
            <h2>Play with your friends</h2>
            <p>Start your own server with the click of a button. Requires no set up, download and start playing today!</p>
            <p><a class="btn btn-default" href="~/MinecraftProductInfo#1">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>You have the Power</h2>
            <p>As the owner of your server you have the power. Give or take items from your friends, rule your world the way you want!</p>
            <p><a class="btn btn-default" href="~/MinecraftProductInfo#2">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Control your Mods</h2>
            <p>Drag and drop your favorite mods into your world.</p>
            <p><a class="btn btn-default" href="~/MinecraftProductInfo#3">Learn more &raquo;</a></p>
        </div>
    </div>
</font>
<script type="text/javascript">
    var color = "white";
        $(document).ready(function () {
            $('#start').click(function (e) {
                e.preventDefault();
                $.post('Admin/start', null, function () {
                });//end of post
            });//end of click
            $('#stop').click(function (e) {
                e.preventDefault();
                $.post('Admin/stop', null, function () {
                    window.clearInterval(timer);
                });//end of post
            });//end of click
            $(document).keypress( function (e) {
                    if (e.which != 13) {
                        var char = String.fromCharCode(e.which),
                            isUpper = char == char.toUpperCase();
                        $("#lcommand").append(""+char);
                    }
                    else {
                        var commandText = $("#lcommand").text();
                        $.ajax({
                            type: 'POST',
                            url: "Admin/sendCommand",
                            data: JSON.stringify(commandText),
                            dataType: "text",
                            contentType: "application/json; charset=utf-8",
                            processData: false
                        });
                        var d = $('#consoleContent');
                        d.scrollTop(d.prop("scrollHeight"));
                        $("#lcommand").text("");
                    }
                }
            );
            var timer = setInterval(function() {
                $.get('Admin/getConsoleText', null,
                    function (data) {
                        var d = $('#consoleContent');
                        var bottom = d.scrollTop() >= d.prop("scrollHeight") - $('#screen').height();
                        if (document.getElementById("consoleContent").innerHTML != data) {
                            document.getElementById("consoleContent").innerHTML = data;
                        }
                        if (bottom) {
                            d.scrollTop(d.prop("scrollHeight"));
                        }
                    });
                $.get('Admin/getServerInfo', null,
                    function (data) {
                        document.getElementById("serverInfo").innerHTML = data;
                    });
            }, 1000);
            var timer2 = setInterval(function () {
                $.get('Admin/getServerInfo', null,
                    function (data) {
                        document.getElementById("serverInfo").innerHTML = data;
                    });
            }, 10000);
            var timer3 = setInterval(function () {
                if ($("#cursor").css("background-color") == "rgb(255, 255, 255)")
                    $("#cursor").css("background-color", "black");
                else
                    $("#cursor").css("background-color", "rgb(255, 255, 255)");
            }, 500);
        });//end of ready

</script>
}